@model SportsStore.WebUI.Models.ProductCategoryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";

}
@if (TempData["Message"] != null)
{
    @Html.Label(@TempData["Message"].ToString(),new
    {
        @class="alert alert-success"
    })
    
}
<h2>Index</h2>
@Html.ActionLink("全部/","Index")
@foreach (var category in Model.Categorys)
{
    @Html.ActionLink(category+"/", "Index",new
    {
        category=category
    })
}
<p>
    @Html.ActionLink("Add New Product", "Create","",new {@class="btn btn-primary"});
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Products) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
         
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
